
/Test.CQRS.sln.DotSettings.user
/Test.CQRS.Web/obj
/Test.CQRS.Web/Test.CQRS.Web.csproj.user
/Test.CQRS.Web/bin
/Test.CQRS.Core/bin
/Test.CQRS.Core/obj
/Test.CQRS/Test.CQRS.csproj.user
/_ReSharper.Diary.CQRS
/Test.CQRS.Configuration/obj
/Test.CQRS.Configuration/bin
/Test.CQRS.Web/Test.CQRS.Web.csproj.user
/Test.CQRS.Web/bin
/Test.CQRS.Web/obj
/Diary.CQRS.suo
/Diary.CQRS.5.1.ReSharper.user
/Test.Specifications/bin
/Test.Specifications/obj
/Test.CQRS.suo
/_ReSharper.Test.CQRS
/Diary.CQRS.sln.DotSettings.user
/Test.CQRS.5.1.ReSharper.user